# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Preparing_to_NTI_IRS\UTS task1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
